<section class="container">
    <div class="row justify-content-center">
        <div class="col col-md-5">
            <div class="card border-0 mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= tagline %></h6>
                    <%= simple_form_for(model) do |f| %>
                    <p class="card-text"> <%= f.input :name %></p>
                    <%= f.submit btnlbl, class: 'btn btn-primary mt-3' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>