<section  class="container">
    <div class="row mt-5 align-items-center">
        <div class="col col-md-6">
          <h1 class="h3"><%= @user.name.capitalize %>'s Created Events</h1>
        </div>
        <div class="col-2">
          <%= link_to 'Create Event', new_event_path, class: 'text-decoration-none float-end' %>
        </div>
      </div>
    <div class="row justify-content-start">
        <h6 class="mt-2">Created events</h6>
        <div class="col col-md-8">
            <ol class="list-group list-group-numbered">
                <% @created_events.each do |e| %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= e.name %></div>
                    <%= e.description %>
                    <%= e.date %>
                    <%= e.location %>
                </div>
                </li>
                <% end %>
            </ol>
        </div>
        <h6 class="mt-2">Previous Events</h6>
        <div class="col col-md-8">
            <ol class="list-group list-group-numbered">
                <% @previous_events.each do |e| %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= e.name %></div>
                    <%= e.description %>
                    <%= e.date %>
                    <%= e.location %>
                </div>
                </li>
                <% end %>
            </ol>
        </div>
        <h6 class="mt-2">Upcoming Events</h6>
        <div class="col col-md-8">
            <ol class="list-group list-group-numbered">
                <% @upcoming_events.each do |e| %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= e.name %></div>
                    <%= e.description %>
                    <%= e.date %>
                    <%= e.location %>
                </div>
                </li>
                <% end %>
            </ol>
        </div>
    </div>
</section>