<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %> - <%= @event.id%>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator.name %>
</p>


<p>
  <strong>Attendees:</strong>
  <% @event.attendees.each do |a| %>
  <%= a.name %><br/>
  <% end %>
</p>


<%= link_to 'Back', events_path %>
